.firstSingleAd {
    text-decoration: none;
    transition: all 0.1s;
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 15px;
    padding-bottom: 15px;
    max-height: 160px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    cursor: pointer;
    color: black;
    height: 140px;
}

.firstSingleAd:hover {    
    background-color: #02fb4419;
}

.singleAd {
    height: 140px;
    color: black;
    text-decoration: none;
    transition: all 0.1s;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    max-height: 160px;
    display: flex;
    flex-direction: row;
    border-top: 2px solid #25db55;
    gap: 15px;
    cursor: pointer;
}

.singleAd:hover {
    background-color: #02fb4419;
}

.singleAdImageWrapper {
    position: relative;
    width: 250px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 0.2rem;
}

.singleAdData {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.singleAdDataTop {
    display: flex;
    flex-direction: column;
    max-height: 120px;
}

.singleAdDataBottom {
    display: flex;    
    justify-content: space-between;
    font-size: 15px;
    margin-top: 15px;
}

.header {
    margin-block-start: 1em;
    margin-block-end: 0em;
    font-weight: bold;
}

.description {
    color: #777777;
    overflow: hidden;
    font-size: 15px;
}

.price {
    font-size: large;
    font-weight: bold;
    color: #04b733;
}

@media screen and (max-width: 800px){
    .firstSingleAd {
        padding-left: 0px;
        padding-right: 0px; 
        gap: 10px;
        height: auto;
    }
    .singleAd {
        height: auto;
        padding-left: 0px;
        padding-right: 0px;
        gap: 10px;
    }
    
    .singleAdImageWrapper {
        position: relative;
        margin-top: 15px;
        margin-right: 0px;
        border-radius: 0.2rem;
        width: 100px;
        height: 80px;
    }
    
    .singleAdDataTop {
        display: flex;
        flex-direction: column;
        max-height: auto;
    }
    
    .singleAdDataBottom {
        font-size: x-small;
    }
    
    .header {
        margin-block-start: 0.5em;
        font-size: small;
    }
    
    .description {
        font-size: 13px;
        max-height: 50px;
        font-size: x-small;
    }
    
    .price {
        font-size: small;
    }
}