.main {
    padding-top: 55px;
    max-width: 1200px;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.adBanner {
    padding: 20px;
    height: 120px;
}

.breadcrumbs {
    display: flex;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
    border-bottom: 2px solid #25db55;
    border-right: 2px solid #25db55;
    border-top: 2px solid #25db55;    
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.breadcrumbLink1 {
    padding-left: 10px !important;
}

.breadcrumbItem {
    padding-right: 10px !important;
    cursor: default;
    font-weight: bold;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.breadcrumbLink1, .breadcrumbLink2, .breadcrumbLink3, .breadcrumbItem {
    color: black;
    text-decoration: none;
    padding: 5px;
}

.breadcrumbLink1:hover, .breadcrumbLink2:hover, .breadcrumbLink3:hover {
    color: #25db55;
}

.divider {
    color: black; 
    padding: 5px;
    cursor: default;
}

.breadcrumbLink:hover {
    color: white;
}

.adWrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

.adWrapperLeft {
    max-width: 850px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.adWrapperRight {
    position: sticky;
    top: 200px;
    width: 300px;    
}

.adWrapperRight p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.adWrapperRightTop {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    padding: 10px;    
    background-color: #25db55;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 3px;
    text-align: center;
}

.adWrapperRightBottom {    
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    padding: 15px;    
    background-color: rgb(251, 251, 251);
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 3px;
    height: fit-content;
}

.sendMessageBtn {
    transition: 0.2s all;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #25db55;
    border-radius: 0.3rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 3px;
}

.sendMessageBtn:hover {
    background-color: black;
    color: white;
}

.contact_info_title {
    color: #25db55;
    font-size: smaller;
    letter-spacing: 1px;
}

.imagesWrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.header {
    margin-top: 30px;
    font-weight: bold;
    font-size: x-large;
    margin-block-end: 0em;
}

.imageWrapper {
    height: 300px;
    position: relative;
    background-color: rgb(251, 251, 251);
}

.imageSelector {
    background-color: rgb(251, 251, 251);
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.selectableImage {
    cursor: pointer;
}

.selectableImageSelected {
    cursor: pointer;
    filter: brightness(60%);
}

.locationTag {
    display: block;
    margin-top: -15px;
}

.descriptionHeader {
    display: block;
    margin-top: 40px;
    border-bottom: 2px solid #25db55;
    padding-bottom: 5px;;
}

@media screen and (max-width: 1000px) and (min-width: 600px){
    .adWrapper {
        flex-direction: column;
    }
    
    .adWrapperRight {
        width: 300px;
        align-self: center;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 700px) {
    .main {
        padding-top: 55px;
        max-width: auto;
        margin-left: auto; 
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .adBanner {
        padding: 20px;
        height: 20px;
    }

    .breadcrumbs {
        left: 0;
        display: flex;
        width: 100vw;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
        border-bottom: 2px solid #25db55;
        border-right: 0;
        border-top: 2px solid #25db55;    
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }
    
    .breadcrumbLink1 {
        padding-left: 5px !important;
    }
    
    .breadcrumbItem {
        padding-right: 10px !important;
        cursor: default;
        font-weight: bold;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }
    
    .breadcrumbLink1, .breadcrumbLink2, .breadcrumbLink3, .breadcrumbItem {
        color: black;
        text-decoration: none;
        padding: 1px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: x-small;
    }

    .divider {
        color: black; 
        padding: 1px;
        padding-top: 4px;
        padding-bottom: 4px;
        cursor: default;
        font-size: x-small;
    }
    
    .adWrapper {
        flex-direction: column;
    }

    .adWrapperRight {
        align-self: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .adWrapperLeft {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pageLocationNavigation {
        font-size: small;
    }

    .pageLocationNavigation {
        width: 100vw;
    }

    .header {
        word-wrap: break-word;
        font-size: large;
        padding-left: 15px;
        padding-right: 15px;
    }    

    .imagesWrapper {
        width: 100%;
    }

    .imageWrapper {
        width: 100%;
        height: 180px;
    }

    .description, .locationTag {
        word-wrap: break-word;
        font-size: small;
    }

    .adWrapperRight, .descriptionHeader {
        font-size: smaller;
    }
}