.main {
    padding-top: 55px;
    max-width: 1200px;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.adBanner {
    padding: 20px;
    height: 120px;
}

.pageLocationNavigation {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: fit-content;
    background: linear-gradient(to top, rgba(37, 219, 85, 1), rgba(37, 219, 85, 0));
    border-bottom: 3px solid black;
}

.pageLocationLink {
    text-decoration: none;
    color: black;
}

.pageLocationLink:hover {    
    color: white;
}

.adWrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    justify-content: space-between !important;
}

.imagesWrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.header {
    margin-top: 30px !important;
    font-weight: bold;
    font-size: x-large;
    margin-block-end: 0em !important;
}

.imageWrapper { 
    height: 300px;
    position: relative;
    background-color: rgb(247, 247, 247);
}

.imageSelector {
    background-color: rgb(247, 247, 247);
    display: flex;
    gap: 5px;
}

.selectorImage {
    cursor: pointer;
}

.selectorImageSelected {
    cursor: pointer;
    filter: brightness(60%);
}

@media screen and (max-width: 500px) {
    .main {
        padding-top: 55px;
        max-width: auto !important;
        margin-left: auto; 
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .pageLocationNavigation {
        font-size: small;
    }    

    .adWrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .imageWrapper {
        background-color: aqua;
        width: 100%;
        min-height: 300px;
        position: relative;
    }
}
