.background_img_wrapper {
    height: 915px;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: inset 0 -70px 40px 0 white;
}

.background_img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 900px;
    z-index: -1000;
    width: 100%;
    object-fit: cover;
}

.searchbox_container {
    max-width: 750px;
    position: absolute;
    left: 0;
    right: 0;
    top: 205px; 
    margin-left: auto; 
    margin-right: auto;
}

.searchbox_inner_container {    
    margin: 0 auto;    
    background-color: #25db55;
    padding-top: 0.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.searchbox_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selections_container {
    display: flex;
    gap: 30px;
}

.region_select {
    width: 200px;
    height: 45px;
    border-radius: 0.4rem;
    border-width: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 3px;
}

.region_select:focus {
    outline: none !important;
}

.searchbox_input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.searchbox_input_field {
    width: 100%;
    height: 25px;
    border-radius: 0.4rem;
    border: 1px solid white;
    padding: 10px;
    padding-right: 80px;
    font-size: medium;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 3px;
}

.searchbox_input_field:focus {
    outline: none !important;
    border: 1px solid green;
}

.searchbox_input_submit_btn { 
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    right: 3px;
    background-color: black;
    border-radius: 0.3rem;
    color: #FFF;
    height: 22px;
    width: 30px;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.searchbox_input_submit_btn:hover {
    transition: all .2s ease;
    color: black;
    background-color: white;
}

.searchbox_container h2 {
    font-size: xx-large;
}

.searchbox_container h3 {
    font-weight: lighter;
}

.publish_ad_container {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0 auto;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.publish_ad_title {
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.publish_ad_options {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.publish_ad_option {
    font-size: large;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    width: 190px;
    height: 60px;
    background-color: transparent;
    color: white;
    border-radius: 0.4rem;
    border-style: solid;
    border-color: #25db55;
    border-width: 3px;
    transition: all 0.3s;
}

.publishLink {
    transition: 0.2s all;
    text-decoration: none;
    color: white;
}

.publish_ad_option:hover {
    background-color: #25db55;
}

.publish_ad_option:hover .publishLink {
    color: black;
}

.ad_type_select {
    width: 200px;;
    height: 45px;
    border-radius: 0.4rem;
    border-width: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 3px;
}

.ad_type_select:focus {
    outline: none !important;
}

@media screen and (max-width: 1200px) and (min-width: 800px){
    .background_img_wrapper {
        height: 715px;
        width: 100vw;
        box-sizing: border-box;
        box-shadow: inset 0 -70px 40px 0 white;
    }
    
    .background_img {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 700px;
        z-index: -1000;
        width: 100%;
        object-fit: cover;
    }
    
    .searchbox_container {
        max-width: 70%;
        top: 150px; 
    }
    .searchbox_inner_container {    
        margin: 0 auto;    
        background-color: #25db55;
        padding-top: 0.3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
    }

    .searchbox_inner_container h2 {
        font-size: x-large !important;
    }

    .searchbox_inner_container h3 {
        font-size: large !important;
    }
    
    .searchbox_form {
        display: flex;
        flex-direction: column;        
    }
    
    .selections_container {
        display: flex;
        gap: 30px;
    }
    
    .searchbox_input_field:focus {
        outline: none !important;
        border: 1px solid green;
    }

    .searchbox_container h2 {
        font-size: xx-large;
    }
    
    .searchbox_container h3 {
        font-weight: lighter;
    }
    
    .publish_ad_container {
        display: flex;
        flex-direction: column;
        background-color: black;
        margin: 0 auto;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1.4rem;
    }
    
    .publish_ad_title {
        font-size: larger;
    }

    .publish_ad_option {
        width: 170px;
        height: 50px;
        font-size: medium;
        text-decoration: none;
    }
}

@media screen and (max-width: 800px){
    .background_img_wrapper {
        height: 440px;
        width: 100vw;
        box-sizing: border-box;
        box-shadow: inset 0 -70px 40px 0 white;
    }
    
    .background_img {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 430px;
        z-index: -1000;
        width: 100vw !important;
        object-fit: cover;
    }
    
    .searchbox_container {
        max-width: 95%;
        top: 80px; 
    }

    .searchbox_inner_container {    
        margin: 0 auto;    
        background-color: #25db55;
        padding-top: 1px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
    }
    
    .searchbox_container h2 {
        font-size: small !important;
    }
    
    .searchbox_container h3 {
        font-weight: lighter;
    }
    
    .searchbox_input {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .searchbox_input_field {
        height: 14px;
        border-radius: 0.2rem;
        padding: 8px;
        padding-right: 75px;
        font-size: x-small;
        border: 1px solid white;
    }
    
    .searchbox_input_field:focus {
        outline: none !important;
        border: 1px solid green;
    }
    
    .searchbox_input_submit_btn {
        padding-top: 2px;
        padding-bottom: 1px;
        padding-right: 13px;
        padding-left: 8px;
        right: 0px;
        border-bottom-left-radius: 0rem;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
        height: 22px;
        width: 20px;
    }

    .searchbox_inner_container h2 {
        font-size: medium !important;
    }

    .searchbox_inner_container h3 {
        font-size: small !important;
    }
    
    .selections_container {
        display: flex;
        gap: 10px;
    }

    .region_select {
        height: 30px;
        border-radius: 0.2rem;
        padding-left: 5px;
        padding-right: 5px;
        font-size: x-small;
    }

    .ad_type_select {
        height: 30px;
        border-radius: 0.2rem;
        padding-left: 5px;
        padding-right: 5px;
        font-size: x-small;
    }
    
    .publish_ad_container {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    
    .publish_ad_title {
        font-size: medium;
    }

    .publish_ad_option {
        width: 170px;
        height: 40px;
        font-size: small;
        text-decoration: none;
        color: white;
    }
}