.navbar {
    width: 100%;
    background-color: #25db55;
    z-index: 1000;
    height: 55px;
    position: fixed;
    top: 0;
    border-bottom-style: solid;
    border-bottom-color: #2424242b;
    border-bottom-width: 1px;
}

.navbar_wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.logoContainer {
    position: relative;
    height: 40px;
    width: 230px;
    margin-left: -4px;
    margin-top: 5px;
}

.logo {
    cursor: pointer;    
}

.navbar_navigation_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.announce_btn {    
    cursor: pointer;
    color: white;
    background-color: transparent;
    display: inline-block;    
    padding: 0.4rem 1.1rem;
    text-align: center;
    font-weight: bold;
    transition-duration: .2s;
    border-style: solid;
    border-color: white;
    border-radius: 0.4rem;
    border-width: 3px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 3px
}

.announce_btn:hover {
    transition: all .2s ease;
    color: black;
    background-color: white;
}

.announce_btn_mobile {
    display: none;
}

.log_in_btn {
    cursor: pointer;
    color: white;
    background-color: black;
    display: inline-block;    
    padding: 0.4rem 1.1rem;
    text-align: center;
    font-weight: bold;
    transition-duration: .2s;
    border-style: solid;
    border-color: black;
    border-radius: 0.4rem;
    border-width: 3px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 3px
}

.log_in_btn:hover {
    transition: all .2s ease;
    color: black;
    background-color: transparent;
}

.log_in_btn_mobile {
    display: none;
}

.account_btn {
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
    gap: 6px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;  
    height: 32px;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-radius: 0.4rem;
    border-width: 3px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 3px;
    transition: all .2s ease;
}

.account_btn:hover {
    color: black;
    background-color: transparent;
}

.account_btn_img_wrapper {
    position: relative;
    height: 30px;
    width: 30px;
}

.account_btn_img_white,
.account_btn_img_black {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: opacity 0.2s ease;
}

.account_btn_img_black {
    opacity: 0;
}

.account_btn:hover .account_btn_img_white {
    opacity: 0;
}

.account_btn:hover .account_btn_img_black {
    opacity: 1;
}

.account_btn_mobile {
    display: none;
}

.language_selector {
    display: flex;
    gap: 15px;
}

.link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    color: white !important;
}

.link:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .navbar_wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .logoContainer {
        position: relative;
        height: 25px;
        width: 140px;
        margin-left: -4px;
        margin-top: 5px;
    }

    .navbar_navigation_icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }
    
    .announce_btn {
        display: none;
    }
    
    .log_in_btn {
        display: none;
    }  

    .account_btn {
        color: black;
        gap: 2px;
        background-color: transparent;  
        height: 32px;
        text-align: center;
        font-weight: bold;
        border: none;
        border-radius: 0.4rem;
        text-decoration: none;
        box-shadow: none;
        transition: all .1s ease;
        align-items: center;
    }

    .account_btn:hover {
        transform: scale(1.1);
    }
    
    .account_btn_img_wrapper {
        position: relative;
        height: 25px;
        width: 25px;
    }
    
    .account_btn_img_black {
        opacity: 1;
    }
    
    .announce_btn_mobile {
        height: 26px;
        width: 26px;
        position: relative;
        display: block;
        text-decoration: none;
    }

    .announce_btn_mobile:hover{
        transform: scale(1.1);
    }
    
    .log_in_btn_mobile {
        height: 25px;
        width: 25px;
        position: relative;
        display: block;
        text-decoration: none;
    }

    .log_in_btn_mobile:hover{
        transform: scale(1.1);
    }

    .language_selector {
        font-size: smaller;
    }
}