.main {
    padding-top: 55px;
    max-width: 1200px;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.searchWrapper {
    margin-top: 60px;
    min-height: 80px;
    background-color: black;
    color: white;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    padding: 20px;
}

.selections_container_top {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}

.region_select {
    width: 200px;
    height: 45px;
    border-radius: 0.4rem;
    border-width: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium;
    cursor: pointer;
}

.region_select:focus {
    outline: none !important;
}

.searchbox_input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.searchbox_input_field {
    width: 100%;
    height: 25px;
    border-radius: 0.4rem;
    border-width: 0;
    padding: 10px;
    padding-right: 80px;
    font-size: medium;
}

.searchbox_input_field:focus {
    outline: none !important;
    border: 1px solid #25db55;
    height: 1.43rem;
}

.searchbox_input_submit_btn { 
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    right: 3px;
    background-color: #25db55;
    border-radius: 0.3rem;
    font-weight: bold;
    color: black;
    height: 22px;
    width: 30px;
    text-align: center;
    border: 3px solid #25db55;
}

.searchbox_input_submit_btn:hover {
    transition: all .2s ease;
    color: black;
    background-color: white;
}

.selections_container_bottom {
    display: flex;
    gap: 50px;
}

.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: large;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
}
  
.checkboxContainer:hover input ~ .checkmark {
    background-color: #d9fee3;
}

.checkboxContainer input:checked ~ .checkmark {
    background-color: #25db55;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
    display: block;
}

.checkboxContainer .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filters {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #25db55;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.filter_selectWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33.33%;
}

.filter_select {
    background-color: white;
    width: 210px;
    height: 45px;
    border-radius: 0.4rem;
    border-width: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 3px;
}

.filter_select:focus {
    outline: none !important;
}

.filter_pageNumber {
    text-align: center;
    width: 33.33%;
    cursor: default;
}

.filter_pageNumber span {
    font-weight: bolder;
}

.filter_display_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33.33%;
}

.filter_displayBtnLeft {
    position: relative;
    transition: all 0.1s;
    height: 35px;
    width: 35px;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.filter_displayBtnLeft:hover {
    transform: scale(1.1);
}

.filter_displayBtnRight {
    position: relative;
    transition: all 0.1s;
    height: 35px;
    width: 35px;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.filter_displayBtnRight:hover {
    transform: scale(1.1);
}

.adListContainer {
    margin-top: 30px;
}

.noResultsHeader {
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.noResultsTips {
    text-align: center;
}

@media screen and (max-width: 600px){
    .main {
        padding-top: 55px;
        max-width: auto;
        margin-left: auto; 
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .searchWrapper {
        margin-top: 40px;
        padding: 8px;
    }
    
    .selections_container_top {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
    
    .region_select {
        width: 160px;
        height: 30px;
        border-radius: 0.2rem;
        padding-left: 5px;
        padding-right: 5px;
        font-size: x-small;
    }
    
    .searchbox_input_field {
        height: 14px;
        border-radius: 0.2rem;
        padding: 8px;
        padding-right: 75px;
        font-size: x-small;
    }
    
    .searchbox_input_field:focus {
        height: 0.78rem !important;
    }
    
    .searchbox_input_submit_btn {
        padding-top: 3px;
        padding-bottom: 0px;
        padding-right: 14px;
        padding-left: 8px;
        right: 0px;
        border-bottom-left-radius: 0rem;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
        height: 22px;
        width: 20px;
    }
    .selections_container_bottom {
        display: flex;
        gap: 15px;
    }
    
    .checkboxContainer {
        padding-left: 27px;
        font-size: smaller;
    }
      
    .checkmark {
        height: 17px;
        width: 17px;
    }
    
    .checkboxContainer .checkmark:after {
        left: 5px;
        top: 2px;
        width: 4px;
        height: 8px;
    }
    
    .filters {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .filter_select {
        width: 140px;
        height: 30px;
        border-radius: 0.2rem;
        padding-left: 5px;
        padding-right: 5px;
        font-size: x-small;
    }   

    .filter_display_wrapper {
        width: auto;
    }
    
    .filter_displayBtnLeft {
        transition: all 0.1s;
        height: 25px;
        width: 25px;
        border-top-left-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;
        margin-right: 5px;
    }

    .filter_displayBtnRight {
        transition: all 0.1s;
        height: 25px;
        width: 25px;
        border-top-right-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
        margin-left: 5px;
    }
    
    .adListContainer {
        margin-top: 10px;
    }
    
    .noResultsHeader {
        font-weight: bold;
        font-size: smaller;
    }
    
    .noResultsTips {
        font-size: small;
    }

    .filter_pageNumber {
        font-size: x-small;
    }
}